@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");

$theme-colors: (
  "primary": #2fc1c1,
  "secondary": #4b5588,
  "dark": #202333,
  "purple": rgba(75, 85, 136, 0.25),
  "info": #707179,
  "gray": #e6e7ee,
);

$font-family-base: "Open Sans";

$link-decoration: none;

.mapboxgl-canvas {
  background-color: black;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl,
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 0 !important;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  position: absolute;
  top: 120px;
  right: 2vw;
}

.mapboxgl-ctrl-group {
  position: absolute;
  bottom: 90px;
  right: 2vw;
  border: 1px solid map-get($theme-colors, "secondary");
  border-radius: 6px !important;
}

.mapboxgl-ctrl-icon {
  background: map-get($theme-colors, "dark");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon:first-child {
  background-image: url("./public/zoom-in.svg");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon:first-child {
  background-image: url("./public/zoom-out.svg");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon:first-child {
  background-image: url("./public/compass.svg");
}

@import "~bootstrap/scss/bootstrap";

.fixed-top {
  z-index: 500;
}

.fit-content {
  width: fit-content;
}

.faucet-link {
  text-decoration: underline;
  font-size: 14px;
}

.wrap-modal {
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 512px;
      margin: 1.75rem auto;
    }
  }
}

.action-form_divider {
  margin-right: 8rem;
  margin-left: 8rem;
  border-top: 1px solid #ced4da;
}

.tooltip-inner {
  max-width: 300px;
}
