@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$primary: #2fc1c1;
$secondary: #4b5588;
$dark: #202333;
$purple: rgba(75, 85, 136, 0.25);
$info: #707179;
$gray: #e6e7ee;
$danger: #dc3545;
$light: #f8f9fa;
$success: #28a745;
$warning: #f7bdbd;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "purple": $purple,
  "info": $info,
  "gray": $gray,
  "danger": $danger,
  "light": $light,
  "success": $success,
  "warning": $warning,
);

$font-family-base: "Open Sans";

$link-decoration: none;
$link-hover-decoration: underline;

$tooltip-arrow-height: 0.2rem;
$dropdown-item-padding-y: 0.4rem;
$dropdown-border-radius: 6px;
$dropdown-dark-color: $gray;
$dropdown-dark-bg: $dark;
$dropdown-dark-link-hover-color: $light;
$dropdown-dark-link-hover-bg: $purple;

.dropdown-menu {
  top: 68px !important;
}

.mapboxgl-canvas {
  background-color: black;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl,
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 0 !important;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  position: absolute;
  top: 120px;
  right: 2vw;
  width: 240px !important;
  @media (min-width: 1800px) {
    width: 350px !important;
  }
  @media (max-width: 600px) {
    height: 42px !important;
  }
}

@media (max-width: 600px) {
  .mapboxgl-ctrl-geocoder--input {
    height: 42px !important;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    top: 10px !important;
  }
}

.mapboxgl-ctrl-group {
  position: absolute;
  bottom: 119px;
  right: 2vw;
  border: 1px solid map-get($theme-colors, "secondary");
  border-radius: 6px 6px 0 0 !important;
  box-shadow: none !important;
}

.mapboxgl-ctrl-group button:last-child {
  border-radius: 0 !important;
}

.mapboxgl-ctrl-icon {
  background: map-get($theme-colors, "dark");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon:first-child {
  background-image: url("./public/zoom-in.svg");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon:first-child {
  background-image: url("./public/zoom-out.svg");
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  border-bottom: 1px solid #ddd;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.map-style-btn {
  padding: 3px !important;
  max-width: 36px !important;
}

.grid-switch.btn:hover,
.grid-switch.btn:focus,
.grid-switch.btn:active {
  background: map-get($theme-colors, "dark");
  box-shadow: none !important;
}

@import "~bootstrap/scss/bootstrap";

.fixed-top {
  z-index: 500;
}

.fit-content {
  width: fit-content;
}

.faucet-link {
  text-decoration: underline;
  font-size: 14px;
}

.wrap-modal {
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 512px;
      margin: 1.75rem auto;
    }
  }
}

.modal-content {
  overflow: hidden;
}

.action-form_divider {
  margin-right: 8rem;
  margin-left: 8rem;
  border-top: 1px solid #ced4da;
}

.tooltip-inner {
  max-width: 300px;
  text-align: left;
}

.bs-tooltip-bottom {
  top: 8px !important;
}

.btn {
  color: $light !important;
}

.cursor-pointer {
  cursor: pointer;
}

.parcel-list-btn {
  position: absolute;
  top: 120px;
  right: calc(245px + 2vw);
  width: 50px !important;
  @media (min-width: 1800px) {
    right: 394px;
  }
  @media (max-width: 600px) {
    right: 255px;
    width: 42px !important;
    height: 42px !important;
  }
}

.parcel-list-btn.mobile {
  right: calc(52px + 2vw);
}

.search-map-btn {
  position: absolute;
  top: 120px;
  right: 2vw;
  width: 42px !important;
  height: 42px !important;
  padding: 0 !important;
}

.scrollable-table table {
  width: 100%;
}

.scrollable-table thead,
.scrollable-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.scrollable-table td {
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 
 * NOTE: To have a scrolling table with a sticky header the scrollbar needs to
 * overlay the body, otherwise it would shift the content.
 * Only Chromium based browsers support an overflow overlay property so for now
 * we hide the scrollbar on the others.
 */
.scrollable-table tbody {
  display: block;
  overflow-y: auto;
  table-layout: fixed;
  scrollbar-width: none; // Firefox
  max-height: 256px;
}

.scrollable-table tbody::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: $dark;
}

.scrollable-table tbody::-webkit-scrollbar {
  width: 4px;
  background-color: $dark;
}

.scrollable-table tbody::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $secondary;
}

@supports (overflow: overlay) {
  .scrollable-table tbody {
    overflow-y: overlay;
  }
}

/* Safari */
@supports (background: -webkit-named-image(i)) {
  .scrollable-table tbody::-webkit-scrollbar {
    display: none;
  }
}

.pulsate {
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes pulsate {
  50% {
    opacity: 0;
  }
}
