@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");

$theme-colors: (
        "primary": #2fc1c1,
        "secondary": #4b5588,
        "dark": #202333,
        "purple": rgba(75, 85, 136, 0.25),
        "info": #707179,
        "gray": #e6e7ee,
);

$font-family-base: "Open Sans";

.mapboxgl-canvas {
  background-color: black;
}

@import "~bootstrap/scss/bootstrap";

.fixed-top {
  z-index: 500;
}

.fit-content {
  width: fit-content;
}

.faucet-link {
  text-decoration: underline;
  font-size: 14px;
}

.wrap-modal {
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 432px;
      margin: 1.75rem auto;
    }
  }
}

.action-form_divider {
  margin-right: 8rem;
  margin-left: 8rem;
  border-top: 1px solid #ced4da;
}
